html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    height: 100%;
}

body {
    font-size: 16px;
    color: #333;
    height: 100%;
    line-height: 1;
}

:focus {
    outline: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


























/*index*/

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    height: 100%;
}

.flex {
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
}

.header {
    height: 60px;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    padding: 0 13px;
    /*box-shadow: 0px -2px 2px 0.1px #888 inset;*/
}

.header .logo {
    width: 59px;
    height: 38px;
    margin-right: 6px;
}

.header span {
    font-size: 12px;
    color: #333;
    margin-top: 26px;
}

.header .btn {
    width: 92px;
    height: 30px;
    border: 1px solid #DE2726;
    border-radius: 30px;
    font-size: 14px;
    color: #DE2726;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.candy {
    height: 100%;
}

.candy-title {
    justify-content: space-between;
    height: 40px;
}

.candy-title div {
    width: 32%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.candy-title div a {
    display: inline-block;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.cur {
    font-size: 15px;
    color: #DE2726;
    border-bottom: 2px solid #DE2726;
}

.candy-list {
    min-height: 100%;
    display: none;
    border: 1px solid #fff;
    background: #F6F7F8;
    padding-bottom: 20px;
}

.show {
    display: block;
}

.list-item {
    width: 100%;
    margin-top: 13px;
    background: #fff;
    padding-bottom: 10px;
}

.list-item:first-child {
    margin-top: 2px;
}

.list-item img {
    width: 100%;
    height: auto;
}

.list-item p {
    color: #333;
    font-size: 14px;
}

.list-item>p {
    padding: 0 20px;
    margin-top: 10px;
    font-size: 16px;
}

.list-item>div {
    padding: 0 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-item span {
    color: #F21E1E;
}

.list-item-more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    margin-top: 13px;
    padding: 20px 0;
    padding-right: 20px;
    padding-left: 14px;
}

.list-item-more .img {
    width: 73px;
    height: 73px;
}

.list-item-more .img img {
    width: 73px;
    height: 73px;
}

.list-item-more .div {
    height: 73px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding-left: 14px;
    /*border: 1px solid red;*/
    margin-left: 10px;
}

.list-item-more p {
    color: #333;
    font-size: 14px;
    line-height: 1.4em;
}

.list-item-more>p {
    font-size: 16px;
}

.list-item-more span {
    color: #F21E1E;
}

.statue-ing {
    color: #337DEB;
}

.statue-after {
    color: #999999;
}

.more {
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.shadow .box {
    background: #fff;
    width: 315px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
}

.shadow .box h2 {
    font-size: 18px;
    color: #333333;
    /*margin-top: 20px;*/
}

.shadow .box .con {
    font-size: 15px;
    color: #666666;
    line-height: 1.5em;
    padding: 0 20px;
    margin-top: 10px;
}

.shadow .box div p {
    margin-top: 10px;
    color: #999;
}

.shadow .box div p span {
    margin-right: 8px;
    color: #333;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 14px;
    height: 14px;
}








/**/

.wxtip {
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}

.wxtip-icon {
    width: 58px;
    height: 75px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.wxtip-txt {
    color: #fff;
    font-size: 16px;
    line-height: 2;
    margin-top: 150px;
}

.wx-logo {
    width: 72px;
    height: 78px;
    margin-top: 40px;
}

.wxtip h2 {
    color: #fff;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 20px;
}

.wxtip h3 {
    color: #fff;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 20px;
}









/*jieshao*/

.j-banner {
    width: 100%;
    height: auto;
    background-image: url('../imgs/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E2E2E2;
}

.j-banner2 {
    width: 100%;
    height: auto;
    /*background-image: url('../imgs/bg2.png');*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E2E2E2;
}

.j-banner2 h2 {
    font-size: 19px;
    color: #333;
    margin-top: 31px;
    margin-bottom: 20px;
}

.j-banner img {
    width: 72px;
    height: 78px;
    margin-top: 30px;
}

.j-banner h2 {
    font-size: 20px;
    color: #333;
    letter-spacing: 1px;
    margin-top: 10px;
}

.j-title {
    text-align: center;
}

.j-title p {
    font-size: 17px;
    color: #333;
    margin-top: 15px;
}

.j-title p span {
    color: #F66300;
}

.j-time {
    text-align: center;
    font-size: 15px;
    color: #666;
    margin-top: 24px;
}

.j-time span {
    color: #F30100
}

.j-jieshao {
    width: 86px;
    height: 30px;
    background: -webkit-linear-gradient(#37A5FF, #337DEB);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#37A5FF, #337DEB);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#37A5FF, #337DEB);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#37A5FF, #337DEB);
    /* 标准的语法 */
    color: #fff;
    text-align: center;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    margin-left: 21px;
}

.j-line {
    margin-left: 21px;
    margin-right: 21px;
    border-bottom: 1px solid #337DEB
}

.j-cons {
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
    line-height: 2em;
    text-indent: 2em;
    margin-top: 20px;
    padding: 0 20px;
}

.j-cons[data-statue='0em'] {
    text-indent: 0;
}

.j-cons span {
    color: #F66300;
}

.j-candy {
    width: 90%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    background: -webkit-linear-gradient(#37A5FF, #337DEB);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#37A5FF, #337DEB);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#37A5FF, #337DEB);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#37A5FF, #337DEB);
    /* 标准的语法 */
    position: fixed;
    margin-left: 5%;
    bottom: 25px;
    letter-spacing: 1px;
    cursor: pointer;
}

.imtoken {
    color: #2D70D3;
}

.j-box1 {
    width: 240px;
    padding-bottom: 20px;
    /*height: 320px;*/
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-shadow: 0 0 10px 0 rgba(12, 19, 60, 0.06);
    border-radius: 5px;
    margin-left: 21px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.j-box1 img {
    width: 32px;
    height: 35px;
    margin-top: 30px;
}

.j-box1 h2 {
    font-size: 10px;
    color: #333;
    margin-top: 24px;
}

.j-box1 .text1 {
    font-size: 12px;
    color: #333;
    margin-top: 8px;
}

.j-box1 .text2 {
    font-size: 12px;
    color: #666;
    line-height: 1.6em;
    margin-top: 16px;
    padding: 0 10px;
}

.j-box1 .text1 span {
    color: #F66300;
}

.j-box1 input {
    background: #F4F4F4;
    border-radius: 100px;
    height: 24px;
    width: 80%;
    outline: none;
    border: 0;
    padding-left: 20px;
    margin-top: 20px;
}

.j-box1 div {
    width: 88%;
    height: 24px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    text-align: center;
    font-size: 9px;
    color: #fff;
    background: -webkit-linear-gradient(#37A5FF, #337DEB);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#37A5FF, #337DEB);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#37A5FF, #337DEB);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#37A5FF, #337DEB);
    /* 标准的语法 */
    margin-top: 15px;
}

.j-side img {
    position: fixed;
    right: 10px;
    bottom: 130px;
    width: 75px;
    height: 75px;
}
.advert{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:auto;
}
.advert img{
    width: 100%;
    height:60px;
}
.advert .advert-download{
    position: absolute;
    top: 0;
    right: 0;
    width:100%;
    height: 60px;
    z-index: 99;
}
.advert .advert-close{
    position: absolute;
    top: 0;
    right: 0;
    width:20px;
    height: 20px;
    z-index: 999;
}

.star-div img{
    width: 84px;
    height: 12px;
}
