html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    height: 100%;
}

body {
    font-size: 16px;
    color: #333;
    height: 100%;
    line-height: 1;
}

:focus {
    outline: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}



/*index*/

.container {
    max-width: 960px;
    margin: 0 auto;
}

.flex {
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.container>div {
    width: 430px;
    /*border: 1px solid red*/
}

.banner {
    width: 100%;
    background: #0146C5;
    padding: 80px 0;
}

.banner h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.banner h3 {
    font-size: 18px;
    color: #fff;
    margin-top: 24px;
    text-align: center;
}

.banner p {
    font-size: 16px;
    color: #fff;
    margin-top: 15px;
    text-align: center;
}

.con {
    padding: 20px 0;
}

.con p {
    font-size: 22px;
    color: #333;
    line-height: 2.2em;
    letter-spacing: 1px;
    text-align: center;
}

.con img {
    width: 353px;
    height: 434px;
}

.btn-box {
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
    /*border: 1px solid red*/
}

.btn {
    width: 120px;
    /*width: 100%;*/
    /*max-width: 200px;*/
    height: 52px;
    /*margin: 0 10px;*/
    background: #329CFF;
    border-radius: 4px;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
}

.btn[data-type='ios'] {
    margin-right: 10px;
}

.btn[data-type='andr'] {
    margin-left: 10px;
    background-color: #37BE05;
}

.btn-l {
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    width: 120px;
    height: 100%;
    /*border: 1px solid red*/
}

.btn-l p {
    font-size: 11px;
    color: #fff;
    margin-top: 1px;
}

.btn-l h2 {
    font-size: 16px;
    color: #fff;
    margin-top: 4px;
}

.btn-r {
    width: 40px;
    height: 22px;
    text-align: center;
    /*border: 1px solid red*/
}

.btn-r img {
    width: 22px;
    height: 22px;
}

.footer {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    letter-spacing: 0;
    background-color: #1C1B21;
    font-size: 13px;
    color: #848589;
}

.alert {
    position: absolute;
    left: 0;
    top: -104px;
    width: 158px;
    height: 101px;
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.btn2 {
    border-radius: 0px;
}

.wxtip {
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    z-index: 999;
}

.wxtip-icon {
    width: 58px;
    height: 75px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.wxtip-txt {
    color: #fff;
    font-size: 16px;
    line-height: 2;
    margin-top: 150px;
}

.wx-logo {
    width: 78px;
    height: 78px;
    margin-top: 40px;
}

.wxtip h2 {
    color: #fff;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 20px;
}

.wxtip h3 {
    color: #fff;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 20px;
}

.code {
    position: fixed;
    right: 50px;
    top: 50%;
    text-align: center;
    z-index: 99;
}

.code div {
    text-align: right;
}

.code img {
    width: 144px;
    height: 164px;
}
