
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html{
    height: 100%;
    /*border: 1px solid #000;*/
    /*background-color: #f0f0f0;*/
}
body{
    /*border: 1px solid red;*/
    font-size: 16px;
    color: #333;
    height: 100%;
    line-height:1;
}

:focus {
    outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*index*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.flex{
    display:flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
}
.header{
    width: 100%;
    background-color: #fff;
}
.header .left img{
    width: 140px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.header .right a{
   padding: 20px;
   font-weight: bold;
   cursor: pointer;
   text-decoration: none;
   color: #333;
}
.banner{
    width: 100%;
    background:url("../imgs/banner.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.banner_title{
    width: 349px;
    height: 52px;
    margin-top: 20px;
}
.banner_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.banner_box p{
    border-radius: 100px;
    background-color: #0676F3;
    text-align: center;
    margin: 10px 20px;
    color: #fff;
    font-size:20px;
    padding:8px 30px;
}

.banner_text{
    font-size:12px;
    color: #fff;
    margin-top:  16px;
}
.banner_text2{
    font-size:18px;
    color: #FBAB00;
    margin-top: 14px;
    display: flex;
    align-items: center;
}
.banner_text2 span{
    display: inline-block;
    height:1px;
    width: 60px;
    border-top:1px solid #FBAB00;
    margin-left: 10px;
    margin-right: 10px;
}
.banner_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
}
.banner_list p{
    margin:0 10px;
    font-size: 14px;
    color: #fff;
}
.marquee{
    background-color: #FECE68;
    width: 100%;
}
.marquee p{
    font-size:18px;
    color: #333;
    height: 40px;
    line-height: 40px;
}
.title{
    width: 100%;
    margin-top: 30px;
    justify-content: flex-start;
}
.title img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 20px;
}
.title p{
    font-size:18px;
    color: #333;
}
.change{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.change-item{
   justify-content: center;
   margin-top: 20px;
}
.change-item .name{
    font-size:16px;
    color: #333;
    text-align: left;
    width: 100px;
    padding-left: 20px;
}
.input{
    border: 1px solid #ccc;
    width: 200px;
    height: 26px;
    border-radius: 4px;
    padding-left: 20px;
    font-size: 18px;
    color: #333;
}
.input:focus{ 
    outline: none;  
    border-color: #cfdc00;  
    box-shadow: 0 0 5px rgba(207, 220, 0, 0.4);  
    border-radius: 5px;  
}
.seller{
    flex-wrap: wrap;
    justify-content: center;
}
.seller div{
    background-color: #EBECF2;
    margin: 30px 20px;
    border-radius: 10px;
    padding: 20px 20px;
    height: 200px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.seller div .dian{
 background-size: 100% 100%;
 background-repeat: no-repeat;
 line-height: 10px;
 font-size:24px;
 color: #000;
 font-weight: bold;
}
.seller div .name{
    color: #033E8D;
    font-size: 24px;
}
.seller div .recharge{
    font-size: 18px;
    color: #333;
}
.seller div .recharge span{
    font-size:20px;
    color: #E11616;
}
.seller div .way{
    font-size: 16px;
    color: #666;
}
.seller div .qq{
    padding: 10px 40px;
    font-size:16px;
    color: #fff;
    background: #033E8D;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.seller div .qq img{
    width: 18px;
    height: 18px;
}
.seller div .code{
    width: 140px;
    height: 140px;
}
#value3{
    color: #E11616;
    display: inline-block;
    width: 100px;
    text-align: center;
}
.item{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}
.item .title{
    font-size:16px;
    color: #333;
    border-bottom: 1px solid  #FAFBFD;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.down{
    background-image: url("../imgs/down.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width:20px;
    height: 10px;
    float: right;
    margin-right: 10px;
}
.up{
    background-image: url("../imgs/up.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width:20px;
    height: 10px;
    margin-right: 10px;
}
.item .con{
    background-color: #FAFBFD;
    padding:5px 40px 10px 20px;
    display: none;
}
.item .con p{
    font-size: 12px;
    color: #666;
    margin-top: 6px;
    text-indent: 2em;
    line-height: 2em;
}
.item .con img{
  margin-top: 6px;
  width: 70%;
  height: auto;
}
.choose{
    display: block;
}